# MapReduce (lab1) run artifacts

# temp working dir
mr-tmp/

# intermediate map outputs: mr-<map>-<reduce> (incl. stray "mr-N-N-*")
mr-[0-9]*-[0-9]*

# final reduce outputs: mr-out-<reduce>
mr-out-*

# compiled Go binaries (source lives in *.go)
mrmaster
mrworker
mrsequential

# compiled plugins
*.so

diff.out
